<div style="margin: 50px 100px">
<h2>新規登録</h2>
<div style="padding-left: 50px">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id:'form'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
      <p class="sign_up_subjects">お名前</p>
    <div class="sign_up_items">カナ姓
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", required: true, pattern: :"[\u30A1-\u30F6]*" %>
    </div>
    <div class="sign_up_items">カナ名
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: :true, pattern: :"[\u30A1-\u30F6]*" %>
    </div>
  </div>
  <div class="field">
      <p class="sign_up_subjects">メールアドレス</p>
    <div class="sign_up_items">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: :true, pattern: :"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" %>
    </div>
  </div>
  <div class="field">
      <p class="sign_up_subjects">性別</p>
    <div class="sign_up_items">
      <%= f.radio_button :sex, "male" %>男性
      <%= f.radio_button :sex, "female" %>女性
      <%= f.radio_button :sex, "others" %>その他
  </div>
  </div>
  <div class="field">
      <p class="sign_up_subjects">誕生日</p>
    <div class="sign_up_items">
      <%= f.date_select :birthday, use_month_numbers: true, start_year: 1950, prompt: {year: "年", month: "月", day: "日"}, required: :true %>
    </div>
  </div>
  <div class="field">
    <p class="sign_up_subjects">パスワード</p>
    <div class="sign_up_items">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: :true %>
    </div>
  </div>

  <div class="field">
      <p class="sign_up_subjects">パスワード(確認用)</p>
    <div class="sign_up_items">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: :true %>
    </div>
  </div>

  <div class="actions" style="padding-top:40px;">
    <%= f.submit "確認画面へ進む", :class =>"btn btn-primary" %>
  </div>
</div>
</div>
<% end %>

<%= render "devise/shared/links" %>
