<%= render '/shared/header' %>
<div style="margin: 50px 100px">
    <h2>新規登録</h2>
    <div style="padding-left: 50px">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id:'form'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field sign_up_field">
            <%= f.label :name %><br />
            <div class="sign_up_items">(セイ)
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", required: true, pattern: :"[\u30A1-\u30F6]*" %>
            </div>
            <div class="sign_up_items">(メイ)
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: :true, pattern: :"[\u30A1-\u30F6]*" %>
            </div>
        </div>
        <div class="field sign_up_field">
            <%= f.label :email %><br />
            <div class="sign_up_items">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", required: :true%>
            </div>
        </div>
        <div class="field sign_up_field">
            <%= f.label :sex %><br />
            <div class="sign_up_items">
                <%= f.radio_button :sex, "male", required: :true %>男性
                <%= f.radio_button :sex, "female", required: :true %>女性
                <%= f.radio_button :sex, "others", required: :true %>その他
            </div>
        </div>
        <div class="field sign_up_field">
            <%= f.label :birthday %><br />
            <div class="sign_up_items">
                <%= f.date_select :birthday, use_month_numbers: true, start_year: 1960, end_year: 2019, prompt: {year: "年", month: "月", day: "日"}, required: :true %>
            </div>
        </div>
        <div class="field sign_up_field">
            <%= f.label :password %><br />
            <div class="sign_up_items">
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", required: :true %>
            </div>
        </div>
        <div class="field sign_up_field">
            <%= f.label :password_confirmation %><br />
            <div class="sign_up_items">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", required: :true %>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <%= f.submit "確定"%>
        </div>
    s</div>
</div>
    <% end %>

<%= render "devise/shared/links" %>
