<% breadcrumb :index %>

<%= form_tag("/youtube/index", method: "get") do %>
  <%= label_tag(:search, "キーワードを入力") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("検索する") %>
<% end %>

<%= link_to "検索画面トップへ", youtube_search_path %>


<% @youtube_data.items.each do |item| %>
  <% snippet = item.snippet %>
  <p><%= snippet.title %></p>
  <p><%= snippet.published_at %><%= snippet.channel_title %></p>
  <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<% end %>