<% breadcrumb :search %>

<div class="search_container">
    <div style="width:50%; float:left;">
        <section id="keyword_container">
            <h2>キーワードで探す</h2>
                <div id="keyword_comment">
                    <p style="font-size: 16px; color: green;">検索窓にキーワードを入力し、検索するボタンを押してください</p>
                    <p style="font-size: 16px; color: green;">※複数のキーワードでも検索できます</p>
                </div>
                <%= form_tag("/youtube/index", method: "get") do %>
                    <%= label_tag(:search, "キーワード") %>
                    <%= text_field_tag(:search) %>
                    <%= submit_tag("検索する") %>
                <% end %>
        </section>
        <section style="padding-top: 50px;" id="genre_container">
            <h2>人気のジャンルから探す</h2>
                <div id="genre_comment">
                    <p style="font-size: 16px; color: green;">人気のジャンルをで分けています</p>
                    <p style="font-size: 16px; color: green;">キーワードを押すと検索結果が表示されます</p>
                </div>
            <h3 class="genres_icon"><i class="fas fa-walking"></i>健康<i class="fas fa-walking"></i></h3>
                <%= link_to "ウォーキング", youtube_index_path(:search =>"ウォーキング"), :class => "genres_items" %>
                <%= link_to "ヨガ", youtube_index_path(:search =>"ヨガ"), :class => "genres_items" %>
                <%= link_to "筋トレ", youtube_index_path(:search =>"筋トレ"), :class => "genres_items" %>
            <h3 class="genres_icon"><i class="fas fa-baseball-ball"></i>スポーツ<i class="fas fa-baseball-ball"></i></h3>
                <%= link_to "ゴルフ", youtube_index_path(:search =>"ゴルフ"), :class => "genres_items" %>
                <%= link_to "水泳", youtube_index_path(:search =>"水泳"), :class => "genres_items" %>
                <%= link_to "テニス", youtube_index_path(:search =>"テニス"), :class => "genres_items" %>
                <%= link_to "ボウリング", youtube_index_path(:search =>"ボウリング"), :class => "genres_items" %>
                <%= link_to "卓球", youtube_index_path(:search =>"卓球"), :class => "genres_items" %>
            <h3 class="genres_icon"><i class="fas fa-drafting-compass"></i>もの作り<i class="fas fa-drafting-compass"></i></h3>
                <%= link_to "日曜大工", youtube_index_path(:search =>"日曜大工"), :class => "genres_items" %>
                <%= link_to "手芸", youtube_index_path(:search =>"手芸"), :class => "genres_items" %>
            <h3 class="genres_icon">その他</h3>
                <%= link_to "英語", youtube_index_path(:search =>"英語"), :class => "genres_items" %>
                <%= link_to "絵画", youtube_index_path(:search =>"絵画"), :class => "genres_items" %>
                <%= link_to "旅行", youtube_index_path(:search =>"旅行"), :class => "genres_items" %>
                <%= link_to "囲碁", youtube_index_path(:search =>"囲碁"), :class => "genres_items" %>
                <%= link_to "将棋", youtube_index_path(:search =>"将棋"), :class => "genres_items" %>
                <%= link_to "料理", youtube_index_path(:search =>"料理"), :class => "genres_items" %>
                <%= link_to "お菓子", youtube_index_path(:search =>"お菓子作り"), :class => "genres_items" %>
        </section>
    </div>

    <div style="width:50%; float:left;">
        <section  id="ranking_container">
	        <h2>検索ワードランキング</h2>
                <div id="ranking_comment">
                    <p style="font-size: 16px; color: green;">このサイト内で多く検索されているキーワード上です</p>
                    <p style="font-size: 16px; color: green;">キーワードを押すと検索結果が表示されます</p>
                </div>
	        <table>
		        <% @search_ranks.each.with_index do |note,i| %>
		        <tr style="line-height:60px">
			        <td>
				        <%= "第#{ i+1 }位" %>
			        </td>
			        <td class="ranking_name">
	                    <%= link_to "#{note.search_name}", youtube_index_path(:search => "#{note.search_name}") %>
	                </td>
	            </tr>
	            <% end %>
            </table>
        </section>
    </div>
</div>