<%= render '/shared/header' %>
<div style="margin: 50px 100px">
    <h2>ログイン</h2>
    <div style="padding-left: 50px">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field sign_in_field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field sign_in_field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field sign_in_field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions sign_in_field">
    <%= f.submit "ログインする", :class => "sign_in_button" %>
  </div>
</div>
<% end %>

<div style="padding-top: 50px; font-size: 16px;"><%= render "devise/shared/links" %></div>
