<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>DmmWebcampPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
    <%= yield %>
  </body>
</html>
